:host {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	flex: 1 1 auto;
	box-sizing: border-box;
}

.input-container {
	position: relative;
	height: 34px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: var(--input-bg-color);

	&.disabled {
		.input {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: var(--valid-input-tint);
		transform: scale(0);
		transform-origin: center;
		transition: transform 0.3s;
	}

	&.invalid::after {
		transform: scale(1);
		background-color: var(--invalid-input-tint);
	}

	&:has(input:focus)::after {
		transform: scale(1);
	}

	.input {
		flex: 1 1 auto;
		position: relative;
		display: block;
		height: 100%;
		padding: 10px;
		border-radius: 5px;
		border: none;
		outline: none;
		background-color: transparent;

		&.animate-placeholder::placeholder {
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:focus::placeholder {
			opacity: 1;
		}
	}

	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		padding: 5px;
		height: 100%;
		aspect-ratio: 1;

		svg {
			width: 100%;
			height: 100%;
			fill: var(--input-icon-tint);
		}
	}
}

.error-container {
	padding-top: 8px;
	padding-left: 3px;
	display: flex;
	align-items: center;

	.error {
		font-size: 12px;
		color: var(--error-text-color);
	}
}
