:host {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	flex: 1 1 auto;
	box-sizing: border-box;
}

.label-container {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 12px;
	margin-bottom: 5px;
	padding-left: 3px;
	color: rgb(55, 55, 55);

	.lock-container {
		height: 1em;
		aspect-ratio: 1;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.input-container {
	position: relative;
	height: 34px;
	border-radius: 5px;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: green;
		transform: scale(0);
		transform-origin: center;
		transition: transform 0.3s;
	}

	&:has(input:focus) {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	}

	&:has(input:focus)::after {
		transform: scale(1);
	}

	.input {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px;
		border-radius: 5px;
		background-color: #eeeeee;
		border: none;
		outline: none;
	}
}
