<div class="component-controls">
	<label for="disabled-cb">
		<input type="checkbox" id="disabled-cb" [(ngModel)]="isDisabled" (change)="onDisabledChanged($event)" />
		Disabled
	</label>
	<label for="floating-label-cb">
		<input type="checkbox" id="floating-label-cb" [(ngModel)]="useFloatingLabel" (change)="onFloatingLabelChanged($event)" />
		Use Floating Label
	</label>
</div>

<div class="component-grid" [formGroup]="form">
	<!-- Input Component -->
	<app-component-card title="Text Input Component">
		<app-input
			label="Username"
			formControlName="appInput"
			[showErrorMessage]="true"
			[errorMessages]="{ required: 'Username is required.' }"
			placeholder="Enter your username"
			[useFloatingLabel]="useFloatingLabel()"
		/>
	</app-component-card>
	<!-- Single Select Component -->
	<app-component-card title="Single Select Component">
		<app-single-select
			label="Select a fruit"
			formControlName="appSingleSelect"
			[showErrorMessage]="true"
			[clearable]="true"
			[errorMessages]="{ required: 'Fruit is required.' }"
			[options]="[
				{ label: 'Apple', value: 'apple' },
				{ label: 'Banana', value: 'banana' },
				{ label: 'Orange', value: 'orange' }
			]"
			placeholder="Select a fruit"
			[useFloatingLabel]="useFloatingLabel()"
		/>
	</app-component-card>
</div>
